<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Submit a New Contact</title>
  </head>
  <h2>Submit a New Contact</h2>

  <form action="/submit" method="post">
    First Name:
    <input type="search" name="first_name">
    Last Name:
    <input type="search" name="last_name">
    Phone Number:
    <input type="search" name="phone_number">
    <input type="submit">
  </form>
